%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

[{edis, [{listener_port_range, {16380, 16380}},
         {dir, "db/test"},
         {backend, {edis_pd_backend, []}}]},
 {lager, [
          {handlers,
           [
            {lager_console_backend, [debug,true]}
           ]}
         ]},
 {sasl, [{errlog_type, all},
         {sasl_error_logger, {file, "logs/test-host.sasl.log"}}]}].
