[{edis, [{listener_port_range, {6380, 6380}}, {dir, "db"}]},
 {elog, [{level, debug},
         {logger, {elogger_file, [{file, "logs/edis.log"}, {size_limit, 2000}, {date_break, false}]}},
         {debug, [{logger, {elogger_console, []}}]}
        ]},
 {sasl, [{errlog_type, all},
         {sasl_error_logger, {file, "logs/edis.sasl.log"}}]}].