[{edis, [{listener_port_range, {6381, 6381}}, {backend, {edis_hanoidb_backend, [
        {sync, {seconds, 10}},
        {compress, none},
        {block_size, 32768}] }}]},
 {elog, [{logger, {elogger_console, []}}]},
 {sasl, [{errlog_type, all},
         {sasl_error_logger, {file, "logs/hanoidb.edis.sasl.log"}}]}].
