[{edis, [% Accept connections on the specified ports, default for Redis is 6379.
         {listener_port_range, {6379,6379}},
         % The working directory.
         % The DB (or DBs) will be written inside this directory, if the backend needs it
         % Note that you must specify a directory here, not a file name.
         {dir, "/etc/edis/db/"},
         % If the server couldn't send a message in this interval, it closes the connection to the client
         {client_timeout, 35000},
         % Set the number of databases. The default database is DB 0, you can select
         % a different one on a per-connection basis using SELECT <dbid> where
         % dbid is a number between 0 and 'databases'-1
         {databases, 16},
         % Require clients to issue AUTH <PASSWORD> before processing any other
         % commands.  This might be useful in environments in which you do not trust
         % others with access to the host running redis-server.
         %
         % This should be undefined for backward compatibility and because most
         % people do not need auth (e.g. they run their own servers).
         % 
         % Warning: since edis is pretty fast an outside user can try up to
         % 150k passwords per second against a good box. This means that you should
         % use a very strong password otherwise it will be very easy to break.
         {requirepass, undefined},
         % edis_backend implementation to use as the backend for edis
         {backend, {edis_eleveldb_backend, [{create_if_missing, true}]}]},
  {elog, [{level, debug},
          {logger, {elogger_file, [{file, "/var/log/edis/edis.log"},
                                   {size_limit, 2000},
                                   {date_break, false}]}},
          {debug, [{logger, {elogger_console, []}}]}
         ]},
  {sasl, [{errlog_type, all},
          {sasl_error_logger, {file, "/var/log/edis.sasl.log"}}]}].