html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
	{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

body {
	line-height: 1;
	color: black;
	background: white;
}

body {
	background-color: #f0f0f0;
	color: #333333;
	padding: 45px 0 10px 0;
	margin: 0;
}

body>header {
	-moz-box-shadow: #999999 0px 4px 8px 0;
	-webkit-box-shadow: #999999 0px 4px 8px 0;
	-o-box-shadow: #999999 0px 4px 8px 0;
	box-shadow: #999999 0px 4px 8px 0;
	background-color: #253;
	overflow: hidden;
	*zoom: 1;
	border-top: 1px solid black;
	height: 45px;
	left: 0;
	padding: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

body>header>.container {
	margin: 0 auto;
	max-width: 900px;
}

body>header>.container>a {
	float: left;
	border-right: 1px solid #243;
	padding: 7.5px 20px 7.5px 0;
}

body>header>.container>a img {
	display: block;
	height: 30px;
	width: 93px;
}

body>header nav {
	float: left;
	border-left: 1px solid #263;
	padding: 0 0 0 20px;
}

body>header nav a {
	color: #cccccc;
	display: block;
	float: left;
	font-family: "Helvetica Neue", sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 45px;
	margin: 0 10px;
	text-decoration: none;
	text-shadow: black 0px 1px 1px;
}

body>header nav a:first-child {
	margin-left: 0;
}

body>header nav a:hover {
	color: white;
	text-decoration: none;
}

body>footer {
	background: url(/images/redis-small.png) no-repeat left top;
	padding: 10px 10px 10px 50px;
	max-width: 840px;
	margin: 20px auto;
	color: #777777;
	position: relative;
	font-size: 11px;
}

body>footer a {
	color: #444444;
}

@media screen and (max-device-width: 480px) {
	body {
		padding: 0;
	}
	body>header {
		height: auto;
		padding: 0;
		position: relative;
	}
	body>header>.container {
		display: table;
		margin: 0;
		max-width: none;
		position: relative;
		width: 100%;
	}
	body>header>.container>a {
		background: url(/images/redis.png) no-repeat 6px 4px;
		display: table-cell;
		float: none;
		height: 30px;
		overflow: hidden;
		padding: 5px 0;
		position: relative;
		width: 46px;
	}
	body>header>.container>a img {
		display: none;
	}
	body>header nav {
		display: table-cell;
		padding: 5px 0 5px 8px;
		float: none;
		vertical-align: middle;
		border-left: 1px solid #323232;
		position: relative;
	}
	body>header nav a {
		font-size: 12px;
		margin: 0 4px 0 0;
		display: inline;
		height: auto;
		line-height: 18px;
	}
	body>footer {
		background-image: none;
		line-height: 22px;
		margin: 10px 0;
		padding: 2px 8px;
	}
	.text {
		padding: 15px 10px;
	}
	#commands .command {
		font-weight: bold;
	}
}

body {
	font-family: Helvetica, Arial, FreeSans, san-serif;
	color: grey;
}

body,textarea {
	font: 13px/1.5 "Helvetica Neue", sans-serif;
}

ol,ul {
	list-style-type: disc;
	margin-left: 25px;
}

ul.behaviour dt{
	font-weight: bold;
}

ul.behaviour li{
	margin-top: 15px;
}

table {
	border-collapse: separate;
	border-spacing: 0;
	vertical-align: middle;
}

caption,th,td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle;
}

q,blockquote {
	quotes: "" "";
}

q:before,q:after,blockquote:before,blockquote:after {
	content: "";
}

a img {
	border: none;
}

article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary
	{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	display: block;
}

h1,h2,h3 {
	font-weight: 300;
}

h1 {
	font-size: 26px;
	line-height: 26px;
	margin: 18px 0 2px 0;
}

h2 {
	font-size: 26px;
	line-height: 22px;
	margin: 18px 0 2px 0;
	color: #253;
}
h3 {
	font-size: 18px;
	line-height: 18px;
	margin: 22px 0 8px 0;
	color: #253;
}

code {
	font-family: "Menlo", "Monaco", monospace;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.columns {
	overflow: hidden;
	*zoom: 1;
}

.columns>* {
	float: left;
}

.columns>*:first-child {
	border-right: 1px solid #eeeeee;
}

.columns>*:first-child>* {
	margin-right: 20px !important;
}

.columns>*:last-child {
	border-left: 1px solid #eeeeee;
	left: -1px;
	position: relative;
}

.columns>*:last-child>* {
	margin-left: 20px;
}

.columns>section {
	width: 49%;
}

.columns.sidebar>section {
	width: 70%;
}

.columns.sidebar>aside {
	width: 29.5%;
	min-height: 400px;
}

.columns.sidebar .columns {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.text {
	-moz-box-shadow: #cccccc 0px 0px 10px 0;
	-webkit-box-shadow: #cccccc 0px 0px 10px 0;
	-o-box-shadow: #cccccc 0px 0px 10px 0;
	box-shadow: #cccccc 0px 0px 10px 0;
	overflow: hidden;
	*zoom: 1;
	background-color: #fafafa;
	color: #333333;
	margin: 0 auto;
	max-width: 840px;
	padding: 30px;
}

.text a {
	color: #888;
	text-shadow: #f0f0f0 1px 1px 0px;
}

.text a:hover {
	color: #263;
}

.text p {
	margin: 5px 0;
}

.text>p,.text>*>p {
	margin-top: 15px;
}

.text strong {
	font-weight: 500;
}

.text em {
	font-style: italic;
}

.text sup {
	line-height: 100%;
	vertical-align: super;
	font-size: 70%;
}

.text .math {
	font-family: serif;
	font-size: 13px;
}

.text pre code,.text .example {
	display: inline-block;
	padding: 15px;
	border: 1px solid #eeeeee;
	margin: 10px 0;
	background-color: #fefefe;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

.text .example {
	max-height: 400px;
	width: 390px;
	overflow: auto;
}

.text .example .monospace,.text .example pre,.text .example input {
	margin: 0;
	padding: 0;
	line-height: 20px;
	font-size: 12px;
	font-family: Menlo, "monospace";
}

.text .example pre {
	clear: both;
}

.text .example .prompt,.text .example .command {
	float: left;
}

.text .example .prompt {
	width: 50px;
	color: #888888;
}

.text .example .command,.text .example input {
	font-weight: bold;
}

.text .example input {
	width: 325px;
	margin-left: -1px;
	outline: none;
	border: 0;
	color: #333333;
}

.text h1.command {
	padding-left: 1.5em;
}

.text h1.command span {
	display: inline-block;
}

.text h1.command span.name {
	margin-left: -1.5em;
}

.text h1:first-child {
	margin-top: 0;
}

.text command{
	
}

.container {
	margin: 0 auto;
	width: 840px;
}

h1 {
	font-size: 3.8em;
	color: green;
	margin-bottom: 3px;
}

h1 .small {
	font-size: 0.4em;
}

h1 a {
	text-decoration: none
}

a {
	color: green;
}

.description {
	font-size: 1.2em;
	margin-bottom: 30px;
	margin-top: 30px;
	font-style: italic;
}

.download {
	float: none;
}

hr {
	border: 0;
	width: 80%;
	border-bottom: 1px solid #aaa
}

.footer {
	text-align: center;
	padding-top: 30px;
	font-style: italic;
}